.top {
    margin: 0px;
    position: relative;
    height: 40vw;
    display: flex;
    align-items: center;
}

.top-bg {
    background-color: lightseagreen;
    position: absolute;
    height: 40vw;
    width: 100%;
    z-index: -1;
    transform: skewY(-8deg);
    transform-origin: top left;
}

.top-info {
    display: flex;
    align-items: center;
    margin: 100px;
    padding-top: 50px;
}

.image-container {
    min-width: 30vw;
    max-width: 600px;
    position: relative;
    text-align: center;
}

.headshot {
    max-width: 100%;
    object-fit: cover;
}

.full-name {
    margin: 0px;
    position: absolute;
    color: white;
    font-size: 8rem;
    bottom: 5px;
    width: 100%;
}

.about-section {
    background-color: white;
    text-align: left;
    padding: 20px;
    border: 1px solid black;
}

.about-heading {
    font-size: 4rem;
}

.about-content {
    font-size: 2rem;
}

@media (max-width: 1000px) {
    .top-backdrop {
        transform: skewY(-20deg);
    }
    .about-section {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .top-backdrop {
        transform: skewY(-30deg);
    }
}