.work-section {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 50px;
    padding-top: 0px;
}

.work-heading {
    font-size: 6rem;
    text-align: center;
}

.projects-container {
    display: grid;
    width: 100%;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
}